---
import Layout from "../../layouts/Base.astro";
import Container from "../../components/Container.astro";
import Nav from "../../components/Nav.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

import "../../styles/home.css";

const seo = {
  title: "s1lentmt's blog",
  description:
    "This is where I share my ideas and experiences about web development, cybersecurity and electronics.",
};
---

<Layout {seo}>
  <Container>
    <Header>
      <Nav />
    </Header>
    <h1>¡Hey, welcome ᕕ(⌐■_■)ᕗ!</h1>
    <p>My name is Sergio and I'm a web dev based in Spain.</p>

    <p>
      I love everything about web development, wether it is building arguably
      sleek frontends, or diving into the madness of the backend. Lately, I've
      been also testing the waters with cybersecurity, and I am starting to
      develop an interest in electronics, specially projects involving ESP32.
    </p>

    <p>
      This little place in the inmense world of the internet is where I share my
      thoughts, experiences and projects. Wether you are into web development,
      cybersecurity or electronics, I am sure you will find something that will
      spark your interest.
    </p>

    <a href="/en/blog">Blog →</a>
  </Container>
  <Footer />
</Layout>
