---
if (Astro.url.pathname === '/') {
  Astro.redirect('/en');
}
---

<html>
  <head>
    <!-- Redirección mediante meta tag -->
    <meta http-equiv="refresh" content="0;url=/en/" />
    <title>Beep Boop...</title>
  </head>
  <body>
    <p>Redirecting...</p>
  </body>
</html>
