---
import { getLanguage } from '../utils/lang.js';

const language = getLanguage(Astro.url.pathname);
---

<nav>
  <p>
    <a href={`/${language}`}>Home</a>
    <a href={`/${language}/blog`}>Blog</a>
  </p>
</nav>
