---
import { getLanguage } from "../utils/lang";

const language = getLanguage(Astro.url.pathname);
---

<div class="search-container">
    <span class="search-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
    </span>
    <input type="search" name="q" placeholder={`${language === 'en' ? 'Search...' : 'Buscar...'}`} id="searchInput" class="search-input" style="color: var(--color-text);" />
</div>

<style>
    .search-container {
        display: flex;
        align-items: center;
        background-color: var(--color-background-secondary);
        border: 1px solid var(--link-color);
        border-radius: 0.5rem;
        padding: 0.25rem;
        margin-bottom: 1rem;
    }

    .search-icon {
        margin-right: 0.5rem;
    }

    .search-input {
        flex: 1;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0.25rem;
        color: var(--color-text);
    }
</style>

<script>
    const searchInput = document.getElementById('searchInput');
    
    if (searchInput) {
        searchInput.addEventListener('input', handleSearchInput);
    }

    function handleSearchInput(event) {
        event.preventDefault();
        const searchTerm = event.target.value.toLowerCase();
        document.dispatchEvent(new CustomEvent('search', { detail: searchTerm }));
    }
</script>